.title {
  text-align: center;
  font-size: 4em;
}

.input {
  max-width: 380px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1em 1.5em;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
