@import 'nullstyle.scss';
@import 'variables.scss';

body {
  padding: 3em 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: #fff;
  background-color: $body_color;
  &::-webkit-scrollbar {
    width: 8px;
    &-track {
      background-color: $darker_gray_color;
    }
    &-thumb {
      background-color: $lighter_gray_color;
    }
  }
}

.title {
  font-size: 2.8em;
  font-weight: 700;
  margin: 0.8em 0;
  color: #fff;
}
